{% extends "base.html" %}

{% block title %}Meeting: {{meeting.title}}{% endblock %}

{% block content %}
    <h2>{{meeting.title}}</h2>
    <p>
        This meeting has been schedule on {{meeting.data}}, at {{meeting.start_time}} in 
        <strong>{{meeting.room}}</strong>.

        
    </p>
    <div>
        <a href="{% url 'edit' meeting.id %}">Edit</a>
    </div>
    
    <div>
        <a href="{% url 'delete' meeting.id %}">Delete</a>
    </div>

    <div>
        <a href="{% url 'welcome' %}">Back to main site</a>
    </div>
{% endblock %}